@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

h2, h3, h4, h5, h6 {
    font-family: "Porsche Next TT", "Century Gothic", Arial;
    color: white;    
}

/* Cabecalho */

.linha {
    border: solid;
    border-width: .1px;
    border-color: rgb(238, 238, 238);
}
.linha-1 {
    width: 500px;
    position: absolute;
    top: 65px;
    left: 100px;
    
}

.linha-2 {
    width: 230px;
    position: absolute;
    top: 65px;
    left: 750px;
}

#logo-marca .logomarca {
    width: 30px;
    position: absolute;
    top: 25px;
    left: 660px;
}

#logo-marca h1 {
    font-family: "911 Porscha", "Porsche Next TT", "Century Gothic", Arial;
    font-size: 14px;
    position: absolute;
    left: 625px;
    top: 58px;
}

#logo-marca a {
    text-decoration: none;
    color: black;
}

#menu nav ul {
    position: absolute;
    top: 79px;
    left: 20px;
    margin: 20px;
}

#menu nav ul li {
    display: inline;
    font-family: "Porsche Next TT", "Century Gothic", Arial;
    font-size: 16px;
    padding: 13px;
    line-height: 0px;
}

#menu nav ul li a {
    text-decoration: none;
    color: black;
}

#menu nav ul li a:hover {
    color: rgb(213, 0, 28);
    transition-duration: .5s;
}

.sub-menu {
    margin: 0;
    padding: 0;
    z-index: 1;
}

.sub-menu li a {
    display: none;
    text-align: center;
    height: 45px;
    line-height: 45px;
    border-bottom-style: solid;
    border-bottom-width: .5px;
    border-bottom-color: rgb(228, 228, 228);
}

#menu nav ul li:hover .sub-menu li a {
    display: block;
}

#menu nav ul li:hover .sub-menu-1 {
    position: absolute;
    left: 160px;
    top: 30px;
    width: 160px;
    margin: 0;
    background-color: white;
    border-style: solid;
    border-width: .5px;
    border-color: rgb(228, 228, 228);
}

#menu nav ul li:hover .sub-menu-1 a:hover {
    background-color: rgb(213, 0, 28);
    color: white;
    transition-duration: .5s;
}

#menu nav ul li:hover .sub-menu-2 {
    position: absolute;
    left: 315px;
    top: 30px;
    width: 190px;
    margin: 0;
    background-color: white;
    border-style: solid;
    border-width: .5px;
    border-color: rgb(228, 228, 228);
}

#menu nav ul li:hover .sub-menu-2 a:hover {
    background-color: rgb(213, 0, 28);
    color: white;
    transition-duration: .5s;
}

#menu nav ul li:hover .sub-menu-3 {
    position: absolute;
    left: 465px;
    top: 30px;
    width: 285px;
    margin: 0;
    background-color: white;
    border-style: solid;
    border-width: .5px;
    border-color: rgb(228, 228, 228);
}

#menu nav ul li:hover .sub-menu-3 a:hover {
    background-color: rgb(213, 0, 28);
    color: white;
    transition-duration: .5s;
}

#menu nav ul li:hover .sub-menu-4 {
    position: absolute;
    left: 635px;
    top: 30px;
    width: 185px;
    margin: 0;
    background-color: white;
    border-style: solid;
    border-width: .1px;
    border-color: rgb(228, 228, 228);
}

#menu nav ul li:hover .sub-menu-4 a:hover {
    background-color: rgb(213, 0, 28);
    color: white;
    transition-duration: .5s;
}

#cabecalho #bloco {
    background-color: #eff0f1;
    width: 17.3%;
    height: 130px;
    position: absolute;
    left: 1020px;
    z-index: 1;
}

#bloco #pesquisa form .seta {
    position: absolute;
    top: 25px;
    left: 190px;
    width: 11px;
    color: rgb(91, 94, 98);
    font-size: 16px;
}

#bloco #pesquisa form .search {
    position: absolute;
    top: 62px;
    left: 190px;
    width: 11px;
    color: rgb(91, 94, 98);
}

#bloco #pesquisa form #caixa-1 {
    position: absolute;
    top: 16px;
    left: 15px;
    width: 189px;
    height: 26px;
    border-style: solid;
    border-width: .1px;
    border-color: #ececec;
    padding-left: 10px;
    font-family: "Porsche Next TT", "Century Gothic", Arial;
    font-size: 14px;
    color: rgb(73, 73, 73);
}

#bloco #pesquisa form #caixa-2 {
    position: absolute;
    top: 53px;
    left: 15px;
    width: 189px;
    height: 26px;
    border-style: solid;
    border-width: .1px;
    border-color: #ececec;
    padding-left: 10px;
    font-family: "Porsche Next TT", "Century Gothic", Arial;
    font-size: 14px;
    color: rgb(73, 73, 73);
}

#cabecalho #carConfigurator p {
    position: absolute;
    top: 80px;
    left: 21px;
    font-family: "Porsche Next TT", "Century Gothic", Arial;
}

#cabecalho #carConfigurator p a {
    color:rgb(59, 127, 167);
    text-decoration: none;
}

#cabecalho #carConfigurator p a .seta { 
    position: absolute;
    left: 171px;
    top: 5px;
}

#cabecalho #carConfigurator p a:hover {
    color:rgb(213, 0, 28);
    transition-duration: .5s;
}

#cabecalho #ferramentas {
    background-color: rgb(42, 75, 109);    
    width: 100%;
    height: 40px;
    position: absolute;
    top: 130px;
}

#cabecalho #ferramentas p a {
    text-decoration: none;
    color: white;
 }

#cabecalho #ferramentas p {
    position: absolute;
    left: 23px;
    top: -6px;
    font-size: 15px;
    color: white;
    font-family: "Porsche Next TT", "Century Gothic", Arial;
    z-index: 1;
}

#cabecalho #ferramentas #painel {
    display: none;
    width: 536.8%;
    height: 370px;
    position: absolute;
    left: -1020px;
    top: 0px;
    background-color: rgb(42, 75, 109);    
}

#cabecalho #ferramentas:hover #painel {
    display: block;
}

#cabecalho #ferramentas #painel #servicos {
    position: absolute;
    top: 85px;
    left: 65px;
}

#cabecalho #ferramentas #painel #servicos li .seta-1 {
    position: absolute;
    left: 265px;
    top: 15px;
    color: white;
 }

 #cabecalho #ferramentas #painel #servicos li .seta-2 {
    position: absolute;
    left: 265px;
    top: 60px;
    color: white;
 }

 #cabecalho #ferramentas #painel #servicos li .seta-3 {
    position: absolute;
    left: 265px;
    top: 105px;
    color: white;
 }

 #cabecalho #ferramentas #painel #servicos li .seta-4 {
    position: absolute;
    left: 265px;
    top: 150px;
    color: white;
 }

 #cabecalho #ferramentas #painel #contatos li .seta-5 {
    position: absolute;
    left: 270px;
    top: 15px;
    color: white;
 }

 #cabecalho #ferramentas #painel #mais li .seta-6 {
    position: absolute;
    left: 280px;
    top: 15px;
    color: white;
 }
#cabecalho #ferramentas #painel #servicos li:hover {
    background-color: rgba(255, 255, 255, 0.425);
    transition-duration: .5s;
}

#cabecalho #ferramentas #painel #servicos li a {
    text-decoration: none;
    color: white;
}

#cabecalho #ferramentas #painel #servicos li {
    font-family: "Porsche Next TT", "Century Gothic", Arial;
    font-size: 16px;
    height: 45px;
    border-top: solid .01px;
    width: 255px;
    list-style: none;
    line-height: 35px;
    border-color:  rgb(121, 121, 121);
}

#cabecalho #ferramentas #painel #contatos {
    position: absolute;
    top: 85px;
    left: 345px;
}

#cabecalho #ferramentas #painel #contatos li:hover {
    background-color: rgba(255, 255, 255, 0.425);
    transition-duration: .5s;
}

#cabecalho #ferramentas #painel #contatos li a {
    text-decoration: none;
    color: white;
}

#cabecalho #ferramentas #painel #contatos li {
    font-family: "Porsche Next TT", "Century Gothic", Arial;
    font-size: 16px;
    height: 45px;
    border-top: solid .01px;
    width: 255px;
    list-style: none;
    line-height: 35px;
    border-color:  rgb(121, 121, 121);
}

#cabecalho #ferramentas #painel p {
    font-family: "Porsche Next TT", "Century Gothic", Arial;
    font-size: 20px;
    position: absolute;
    left: 935px;
    top: 35px;
}

#cabecalho #ferramentas #painel #mais {
    position: absolute;
    top: 85px;
    left: 890px;
}

#cabecalho #ferramentas #painel #mais li:hover {
    background-color: rgba(255, 255, 255, 0.425);
    transition-duration: .5s;
}

#cabecalho #ferramentas #painel #mais li a {
    text-decoration: none;
    color: white;
    position: absolute;
    left: 70px;
    top: 5px;
}

#cabecalho #ferramentas #painel #mais li {
    font-family: "Porsche Next TT", "Century Gothic", Arial;
    font-size: 16px;
    height: 45px;
    border-top: solid .01px;
    width: 255px;
    list-style: none;
    line-height: 35px;
    border-color:  rgb(121, 121, 121);
}

#cabecalho #ferramentas #painel #mais li a .icone-engrenagens {
    position: absolute;
    left: -25px;
    top: 10px;
}

#cabecalho #banner {
    width: 100%;
    height: 600px;
    background-color: black;
    position: absolute;
    top: 130px;
}

/* Rodapé*/

.linha-rodape {
    position: absolute;
    top: 2530px;
    left: 125px;
    width: 1100px;
    border-color: rgb(219, 219, 219);
    border-top: .1px;
}
#parte-1 {
    background-color: white;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 2550px;
}

#parte-2 {
    background-color: #191f22;
    width: 100%;
    height: 365px;
    position: absolute;
    top: 3000px;
}

h3 {
    color: #fff;
    font-family: "Porsche Next TT", "Century Gothic", Arial;
    font-size: 22px;
    position: absolute;
    left: 100px;
    border-width: 10px;
}

.linha-3 {
    width: 1150px;
    position: absolute;
    border-width: .01px;
    top: 145px;
    left: 100px;
}

#parte-2 p {
    position: absolute;
    left: 100px;
    top: 175px;
    color: #fff;
    font-family: "Porsche Next TT", "Century Gothic", Arial;
}

#parte-2 p a {
    text-decoration: underline;
    color: white;
}

#parte-2 p a:hover {
    transition-duration: .2s;
    color:rgb(161, 0, 24);
    text-decoration: none;
}

